<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model</title>
</head>
<body>
    <h1>Model</h1>
    <p>
        Enter article :
    </p>

    <form action="/" method="POST">
        <input type="text" name="article" placeholder="Article">
        <input type="submit">    
    </form>

    
    <p>Results :</p>
      {{result}}
    

</body>
</html>